VITE_SUPABASE_URL=https://ngsrmelqfaeecsdafhco.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nc3JtZXRxZmVzZWNzY2RzaGNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2Mjk5NjQsImV4cCI6MjA5MTIwNTk2NH0.QQb2vOIt__h7B_rgN2uDVBQkRJPmJAf1i_1In8k4Erg
VITE_OPENAI_API_KEY=your-openai-api-key
