ALTER TABLE public.companies ADD COLUMN IF NOT EXISTS target_monthly_revenue numeric DEFAULT 0; ALTER TABLE public.companies ADD COLUMN IF NOT EXISTS target_hour_value numeric DEFAULT 0; ALTER TABLE public.companies ADD COLUMN IF NOT EXISTS target_monthly_hours numeric DEFAULT 0;
